<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/style.css">
    <title>Document</title>
</head>
<body>
    <form id="pokedexContainer" method="post">
        <img id="pokedex" src="/public/assets/pokedex.png">
        <img id="pokeImg" src=<%=locals.pokeImgSrc%>>
        <button type="submit" id="submitBtn" name="action" value="searchBtn">Search</button>
        <button type="submit" id="gmaxBtn" name="action" value="gmaxBtn">GMAX</button>
        <input type="text" id="pokeTextBox" name="pokeTextBox" placeholder="Enter Pokèmon" value=<%=locals.pokeName%>>


        <div class="dataContainer">
            <p id="dataName"><%=locals.dataName%></p><p id="dataHeight"><%-locals.dataHeight%></p>
            <p id="data"><%=locals.dataDescription%></p>
            <div id="statsContainer">
                <p id="hp"><%=locals.hp%></p>
                <p id="attack"><%=locals.atk%></p>
                <p id="defense"><%=locals.def%></p>
                <p id="specialAttack"><%=locals.sAtk%></p>
                <p id="specialDefense"><%=locals.sDef%></p>
                <p id="speed"><%=locals.sp%></p>
            </div>
        </div>

        <div class="typeContainer">
            <div id="typeOne"><%=locals.typeOne%></div>
            <div id="typeTwo"><%=locals.typeTwo%></div>
        </div>

        <div class="arrowButtonsContainer">
            <button type="submit" id="leftArrow" name="action" value="leftBtn"></button>
            <button type="submit" id="rightArrow" name="action" value="rightBtn"></button>
        </div>

        <div class="statsBtnContainer">
            <button id="statsOpen" name="action" value="statsOpenBtn">STATS</button>
            <button id="statsClose" name="action" value="statsCloseBtn">GENERAL</button>
        </div>
    </form>

    <audio id="pokemonCry" autoplay>
        <source src="<%=locals.pokemonCry%>">
    </audio>

    <p id="isEnglish"><%=locals.isEnglish%></p>
    <script src="/public/assets/index.js"></script>

</body>
</html>